/*Configuracion universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url(../image/fondoIniciarSesion.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

h1 {
    display: flex;
    padding-top: 6rem;
    justify-content: center;
    text-align: center; 
    font-family: "Alice", serif;
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
}

/*css formularioLogin*/
.formularioLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.botontxt {
    margin-top: 15rem;
}

.elementoForm1 {
    background-color: #fcd4d6;
    font-size: 1.5rem;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300rem;
    border-radius: 10rem;
    width: 63rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.elementoForm2 {
    display: flex;
    background-color: #fcd4d6;
    font-size: 1.5rem;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300rem;
    border-radius: 10rem;
    width: 63rem;
    height: 4rem;
    align-items: center;
    padding-left: 2rem;
}

.liston {
    width: 10.5rem;
    margin-top: 7rem;
}

.botontxt {
    background-color: transparent;
    border: 0rem;
    font-family: "Alice", serif;
    font-size: 1.7rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-top: 24rem;
    cursor: pointer;
}

.inputForm {
    border: 0rem;
    background-color: transparent;
    font-size: 75%;
    margin-top: 0.5rem;
    width: 47rem;
    height: 3rem;
}

input:focus {
    outline: none;  
}

/*MEDIA QUERIS*/

@media (max-width: 480px) {
    body {
        height: 100vh;
        background-image: url(../image/fondoMovilSesion.png);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 4rem;
        margin-left: 2rem;
    }

    /*css formularioLogin*/
    .formularioLogin {
        margin-left: 3.5rem;
        width: 25rem;
    }

    .elementoForm1 {
        display: flex;
        flex-direction: column;
        width: 20rem;
        display: flex;
        padding-left: 2rem;
        align-items: flex-start;
        font-size: 1.4rem;
        padding-top: 0.4rem;
    }

    .elementoForm2 {
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;
        width: 20rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
        padding-top: 0.5rem;
    }

    .liston {
        width: 5rem;
        margin-left: 3rem;
        margin-top: 3.5rem;
        grid-area: 2 / 3 / 2 / 3;
    }

    .botontxt {
        margin-top: 17.5rem;
    }

    .inputForm {
        margin-top: 0rem;
        width: 17rem;
        height: 4rem;
    }
    

    .elementoForm2 input {
        grid-area: 2 / 1 / 2 / 4;
    }
}

@media (min-width: 1369px) {
    body {
        background-image: url(../image/fondoIniciarSesionGrande.png);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        margin-top: 4rem;
    }

    /*css formularioLogin*/
    .botontxt {
        margin-left: 5rem;
        margin-top: 20rem;
    }
}