@import url("nav.css");
@import url("piePagina.css");
@import url("sliderPeinados.css");
@import url("sliderTcapilares.css");
@import url("sliderCepillados.css");


/*general*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-align: center;
}

/*PRIMERA SECCION*/
.serviciosPeluqueria {
    background-image: url(../image/fondoServicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 2rem;
}

.serviciosPeluqueria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 5rem;

}

.peluqueria {
    margin-top: 5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.contenedorPeinados {
    padding-right: 3rem;
}

.peinados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    padding-left: 3rem;
    font-family: "Nunito", sans-serif;
}

/*SEGUNDA SECCION*/
.contenedorTcapilare {
    height: 15rem;
    margin-top: 3rem;
}

.Tcapilares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCapilares {
    padding-left: 12rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TERCERA SECCION*/
.cepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

@media (max-width: 500px) {
    /*SERVICIOS DE PELUQUERIA*/
    .serviciosPeluqueria {
        background-image: url(../image/fondoServiciosMovil.png);
        padding-left: 3rem;
        padding-right: 4rem;

    }

    
    .serviciosPeluqueria a {
        display: flex;
        align-items: center;
    }

    /*PRIMERA SECCION*/
    .peluqueria {
        margin-top: 5rem;
        font-size: 1.8rem;
    }

    .peinados {
        margin-top: 4.5rem;
        height: 4rem;
        padding-top: 2rem;
    }

    .txPeinados {
        font-size: 0.8rem;
        padding-left: 1rem;
    }


    /*SEGUNDA SECCION*/
    .Tcapilares {
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 3rem;
    }

    .txCapilares {
        font-size: 0.8rem;
        padding-left: 4rem;
        padding-right: 0rem;
        margin-top: 0.5rem;
        
    }

    /*TERCERA SECCION*/
    .cepillado{
        margin-top: 0.5rem;
    }
    .txCepillado {
        font-size: 0.8rem;
        margin-left: 0rem;
        padding-left: 1rem;
    }

    
}