* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

/*Fondo pagina inicio*/
body {
    background-image: url(../image/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*navegacion*/

.header {
    background-color: #fdf0ee;
    width: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    position: fixed;
    top: 0rem;
    z-index: 1000;
}

.header .logo img {
    height: 7rem;
    width: auto;
}

.header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;

}

.anguloAbajo {
    height: 1rem;
    width: auto;
}


.conejoCuenta {
    grid-area: 1 / 1 / 3 / 1;
    height: 7rem;
    width: auto;
}

.header .lista {
    display: inline-block;
    padding: 0rem 1.5rem;
    margin-top: 4rem;
}


.cuenta {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 41% 38%;
    grid-template-rows: 30% 20%;
    margin-top: 4rem;
    margin-right: 2rem;
}

.header .banner {
    display: flex;
}

.iniciarSesion {
    grid-area: 1 / 2 / 2 / 2;
}

.registrarse {
    grid-area: 1 / 3 / 2 / 3;
}

.miCuenta {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    color: #fa8999;
}

.cuenta .miCuenta {
    font-size: 1.5rem;
    font-weight: 450;
}

.contactame {
    height: 7rem;
    width: auto;
    margin-top: 1rem;
}

/*sublistas*/
.header nav ul li {
    position: relative;
}

li {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 55%;
    background-color: white;
    padding: 0.3rem;
}

.lista:hover li {
    display: block;
}

.lista li a {
    font-size: 1rem;
    max-width: 7rem;
    display: flex;
    flex-wrap: wrap;
}

nav {
    height: 9rem;
}

/*Menu movil*/

.ri-menu-line{
    font-size: 3rem;
    cursor: pointer;
    display: none;
    color: #f19cb0;
}

.ri-close-fill{
    display: none;
}


/*Home*/

.tablaSection {
    display: grid;
    grid-template-columns: 19% 30% 5% 45%;
    grid-template-rows: 25% 30% 3% 30%;
    margin: 5rem 2rem 0rem 2rem;
    height: 50rem;
}

.brillos {
    grid-area: 1/ 1 / 1 / 1;
    width: 15rem;
    height: auto;
}

.r_ococoquette {
    grid-area: 2/ 1 / 2/ 3;
    display: flex;
    width: 50%;
}

.ococoquette {
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
}

.imagenR {
    grid-area: 2/ 1 / 2/ 3;
    padding-left: 3rem;
    width: auto;
    height: 12rem;
    margin-top: 2rem;
}

.centroEstetica {
    grid-area: 2/ 1 / 3/ 3;
    display: flex;
    justify-content: center;
    font-family: "Alice", serif;
    font-size: 2.7rem;
    font-weight: 300;
    margin-top: 12.5rem;
    margin-left: 10rem;
}

.conoceMas {
    grid-area: 4/ 1 / 5/ 4;
    width: auto;
    height: 9rem;
    display: flex;
    align-items: center;
    margin-left: 5.2rem;
}

.conejoCorazon {
    grid-area: 1/ 4 / 2/ 5;
    width: 38rem;
    height: auto;
    margin-top: 9rem;
}



/* SOBRE LA EMPRESA */

.contenedorCarrusel {
    width: 100%;
    height: 55rem;
    position: relative;
    overflow: hidden;
    padding-top: 5rem;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
}

.carruselSection {
    width: calc(100% / 3);
    height: 100%;
}

.carruselSection img {
    width: 99%;
    height: 100%;

}

.botonIzquierda,
.botonDerecha {
    display: flex;
    position: absolute;
    top: 81%;
    cursor: pointer;
    transition: .5s ease;
    user-select: none;
    filter: brightness(0.95) contrast(0.9) saturate(2.4) hue-rotate(-10deg);
}

.botonIzquierda {
    left: 30rem;
}

.botonDerecha {
    right: 25rem;
}

.botonIzquierda img {
    width: 13rem;
}

.botonDerecha img {
    width: 15rem;
}

/*MEDIA QUERIS*/
@media (max-width: 480px) {

 /*menu*/   
.header{
    height: 5rem;
}

 .header .logo img {
    height: 5rem;
}
 .ri-menu-line {
        display: block;
        margin-left: 19.5rem;
        margin-bottom: 1rem;
    }

    .contactame {
        display: none;
    }

    .conejoCuenta {
        display: none;
    }

    .cuenta {
        position: absolute;
        margin-left: 5rem;
        margin-top: 1rem;

    }

    .registrarse {
        margin-left: 1.8rem;
        
    }

    .miCuenta {
        margin-left: 1.5rem;
        margin-top: 1rem;

    }
    
    .cuenta .miCuenta {
        font-size: 1.3rem;
        font-weight: 450;
    }

    .banner {
        background-color: rgba(253, 245, 245, 0.5);
        backdrop-filter: blur(1rem);
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 16rem;
        width: 14rem;
        height: 54.5rem;
        margin-top: 49rem;
        z-index: 998;
       
        
    }

    .cuenta a{
        font-size: 1rem;
    }

    /*Sublistas*/
   
    li {
        display: none;
        top: 0%;
        background-color: transparent;
        padding: 0rem;
    }

    .banner a{
        font-size: 1.2rem;
    }
    .lista li a {
        font-size: 1rem;
        padding-top: 1rem;
    }

   .lista:hover li {
        display: block;
    }


    .anguloAbajo{
        display: flex;
       flex-direction: column;
       align-items: flex-end;
       padding-left: 9.3rem;
       margin-top: -1.2rem;
    }
    
    .banner{
    visibility: hidden;
    }

    .visible {
        visibility: visible;
    }

    .ri-close-fill{
        font-size: 4rem;
        cursor: pointer;
        color: #f19cb0;
        margin-left: 9.5rem;
        display: block;
    }
    
    /*home*/

    .tablaSection{
        margin-top: 5rem;
        margin-left: 0.3rem;
    }

    .brillos {
        grid-area: 1/ 1 / 1 / 3;
        width: 10rem;
    }
    
    .ococoquette {
        grid-area: 2/ 1 / 2/ 3;
        font-size: 2.5rem;
    }

    .r_ococoquette {
        grid-area: 1/ 1 / 1/ 3;
        margin-top: 3rem;
    }
    
    .imagenR {
        margin-top: 2.8rem;
        padding-left: 0rem;
        height: 6rem;
    }
    
    .centroEstetica {
        grid-area: 2/ 1 / 3/ 5;
        font-size: 2rem;
        margin-top: 0rem;
        margin-left: 2.5rem;
    }
    
    .conoceMas {
        grid-area: 2/ 1 / 5/ 4;
        width: auto;
        height: 6rem;
        margin-top: 2rem;
        margin-left: 2.5rem;
    }
    
    .conejoCorazon {
        grid-area: 2/ 1 / 5/ 5;
        width: 28rem;
        height: auto;
        margin-top: 10rem;
    }

    /* SOBRE LA EMPRESA */
    .contenedorCarrusel {
        width: 100%;
        height: 50rem;
        position: relative;
        overflow: hidden;
        padding-top: 5rem;
    }
    
}