@import url("nav.css");
@import url("piePagina.css");
@import url("reseñas.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0rem;
    scroll-behavior: smooth;
}

/*Fondo pagina inicio*/
body {
    background-image: url(../image/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Home*/

a{
    color: black;
}

.tablaSection{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 17rem;
}

.r_ococoquette{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    padding-top: 3rem;
}

.titulo {
    display: flex;
    padding-right: 6rem;
}

.imagenR{
    width: 12rem;
}

.conoceMas{
    height: 9rem;
}

.conejoCorazon{
    height: 30rem;
    margin-bottom: 4rem;
    
}

.ococoquette{
    align-content: center;
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    padding-top: 2rem;
}

.centroEstetica{
    font-family: "Alice", serif;
    font-size: 2.7rem;
    font-weight: 300;
    padding-bottom: 2rem;
    padding-right: 3rem;
}
/* SOBRE LA EMPRESA */


.imgCarruselMovil {
    display: none;
}

.contenedorCarrusel {
    width: 100%;
    height: 57rem;
    position: relative;
    overflow: hidden;
    padding-top: 5rem;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
}

.carruselSection {
    width: calc(100% / 3);
    height: 100%;
}

.carruselSection img {
    width: 100%;
    height: 100%;
}

.botonIzquierda,
.botonDerecha {
    display: flex;
    position: absolute;
    top: 81%;
    cursor: pointer;
    transition: .5s ease;
    user-select: none;
    filter: brightness(0.95) contrast(0.9) saturate(2.4) hue-rotate(-10deg);
}

.botonIzquierda {
    left: 30rem;
}

.botonDerecha {
    right: 25rem;
}

.botonIzquierda img {
    width: 13rem;
}

.botonDerecha img {
    width: 15rem;
}

/*MEDIA QUERIS*/

@media (max-width: 1155px) {

    /*home*/

    .tablaSection {
       flex-direction: column;
       align-items: center;
       margin-top: 8rem;
       
    }
    .r_ococoquette{
        width: 10%;
    }
    
    .titulo {
        padding-right: 2rem;
    }
    
    .imagenR{
        width: 8rem;
    }
    
    .conoceMas{
        height: 6rem;
        padding-left: 2rem;
    }
    
    .conejoCorazon{
        height: 23rem;
        margin-bottom: 6rem;
    
    }
    
    .ococoquette{
        align-content: center;
        font-size: 2rem;
        font-family: "Nunito", sans-serif;
        padding-top: 1.5rem;
    }
    
    .centroEstetica{
        font-family: "Alice", serif;
        font-size: 1.5rem;
        width: 15rem;
        font-weight: 300;
        padding-bottom: 1rem;
        padding-right: 0rem;
        padding-left: 2rem;
    }

   
    /* SOBRE LA EMPRESA */
    .contenedorCarrusel {
        width: 100%;
        height: 49rem;
        position: relative;
        overflow: hidden;
        margin-top: 1rem;
    }
    .contenedorCarrusel img{
        height: 43rem;
    }
    .carruseles{
        margin-top: 4.5rem;
    }

    .imgCarruselPc {
        display: none;
    }

    .imgCarruselMovil {
        display: block;
    }

    .botonIzquierda,
    .botonDerecha {
        top: 42rem;
    }

    .botonIzquierda {
        left: 5rem;
    }

    .botonDerecha {
        right: 5rem;
    }

    .botonIzquierda img {
        width: 9rem;
        height: auto;
    }

    .botonDerecha img {
        width: 10rem;
        height: auto;
    }
    .contenedorCarrusel{
        padding-top: 1rem;
    }
}