* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fondo pagina inicio*/
body {
    background-image: url(../image/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*navegacion*/
.sectionHeader {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: #fdf0ee;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
}

.logo {
    width: 6rem;
    height: auto;
}

.conejoCuenta {
    width: 5rem;
    height: 5.5rem;
    margin-top: 1%;
    margin-left: 4.2%;
    grid-area: 1 / 1 / 3 / 1;
}

.login {
    display: grid;
    grid-template-columns: 28% 40% 40%;
    grid-template-rows: 30% 30%;
    margin-top: 1.8rem;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.1rem;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.iniciarSesion {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 5%;
}

.registrarse {
    grid-area: 1 / 3 / 2 / 3;
}

.miCuenta {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    font-size: 1.5rem;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #f88fa2;
    margin-top: 0.4rem;
}

.anguloAbajo {
    width: 15%;
}

ul {
    text-decoration: none;
    list-style-type: none;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.cuenta {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    margin-left: -10%;
    margin-top: 3.5%;
    font-size: 1rem;
}


a {
    text-decoration: none;
    list-style-type: none;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 80%;
}



/*sublistas*/

.sublista{
    margin-top: 1rem;
    position: absolute;
    font-size: 70%;
    background-color: white;
    display: none;
    margin-left: -0.2rem;
}
.sublista a{
    font-weight: normal;
}
.espacio {
    background-color: #fdf0ee;
    margin-top: -1rem;
    padding-top: 1rem;
}

.elemtolista{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.lista:hover .sublista{
    display: block;
}

/*Home*/

.tablaSection{
    display: grid;
    grid-template-columns: 20% 30% 20% 30% ;
    grid-template-rows: 25% 30% 5% 30% 20%;
    margin: 10% 5rem 5rem 5rem;
}

.brillos{
    grid-area: 1/ 1 / 1 / 1;
    width: 70%;
    height: auto;
}

.r_ococoquette{
    grid-area: 2/ 1 / 2/ 3;
    display: flex;
    width: 50%;
  }

  .ococoquette{
    grid-area: 2/ 1 / 2/ 3;
    font-size: 100%;
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .imagenR{
     grid-area: 2/ 1 / 2/ 3;
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
    width: 30rem;
    
  }

  .centroEstetica{
    grid-area: 2/ 2 / 3/ 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alice", serif;
    font-size: 100%;
    font-weight: 300;
    margin-top: 13rem;
    margin-left: 1rem;
    flex-wrap: nowrap;
  }

  .conoceMas{
    grid-area: 4/ 2 / 4/ 3;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 12%;

  }

  .conejoCorazon{
    grid-area: 2/ 3 / 2/ 5;
    width: 20rem;
   
   
   

    
  }