@import url("nav.css");



body {
    background-image: url(../image/fondoServicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


