@import url("nav.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

/*PRIMERA SECCION*/
.serviciosPeluqueria {
    background-image: url(../image/fondoServicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

a {
    text-decoration: none;
    text-align: center;

}

.serviciosPeluqueria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra el contenido horizontalmente */

    padding-left: 3rem;
    padding-right: 5rem;

}

.peluqueria {
    margin-top: 5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.contenedorPeinados {
    padding-right: 3rem;
}

.peinados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    padding-left: 3rem;
    font-family: "Nunito", sans-serif;
}

.contenedorTcapilare {
    height: 14.5rem;
    margin-top: 3rem;
}

.Tcapilares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCapilares {
    padding-left: 12rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

/* slider peinados */
.contenedorCarrusel{
    background-image: url(../image/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedoriconos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.iconoP1 {
    width: 7.5rem;
   margin-top: 0.8rem;
    cursor: pointer;
    transition: transform 0.5s ease; 
}

.iconoP2 {
    width: 8.5rem;
    cursor: pointer;
}

.iconoP3 {
    width: 8.3rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

.txIcono {
    font-family: "Alice", serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.rotar {
    transform: rotate(360deg); /* Aplica la rotación completa */
}


/*Carrusel Peinados*/

.imgCarruselMovil {
    display: none;
}

.contenedorCarrusel {
    width: 100%;
    height: 48.8rem;
    position: relative;
    overflow: hidden;

}

.carruseles {
    width: 200%;
    height: 100%;
    display: flex;
}

.carruselSection {
    width: calc(100% / 2);
    height: 37rem;
}

.carruselSection img {
    width: 100%;
    height: 100%;

}

.botonIzquierda,
.botonDerecha {
    display: flex;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: .5s ease;
    user-select: none;
    filter: brightness(0.95) contrast(0.9) saturate(2.4) hue-rotate(-10deg);
}

.botonIzquierda {
   right: 85%;
}

.botonDerecha {
    left: 83.5%;
}

.botonIzquierda {
    width: 15rem;
}

.botonDerecha {
    width: 17rem;
}



