@import url("nav.css");
@import url("piePagina.css");
@import url("sliderPeinados.css");
@import url("sliderTcapilares.css");



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

/*PRIMERA SECCION*/
.serviciosPeluqueria {
    background-image: url(../image/fondoServicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

a {
    text-decoration: none;
    text-align: center;

}

.serviciosPeluqueria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 5rem;

}

.peluqueria {
    margin-top: 5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.contenedorPeinados {
    padding-right: 3rem;
}

.peinados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    padding-left: 3rem;
    font-family: "Nunito", sans-serif;
}

.contenedorTcapilare {
    height: 14.5rem;
    margin-top: 3rem;
}

.Tcapilares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCapilares {
    padding-left: 12rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5808e;
    font-family: "Nunito", sans-serif;
}

.txCepillado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}