/*Configuracion universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Se realiza todo el css de la pagina de inicio*/
body {
    background-image: url(../image/fondoRegistrarse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    display: flex;
    padding-top: 5.5rem;
    justify-content: center;
    text-align: center; 
    font-family: "Alice", serif;
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    position: relative;
}

form {
    display: grid;
    grid-template-columns: 40% 36% 10% ;
    grid-template-rows: 20% 8% 20% 8% 20% 8% 20% 8% 20% 8% 20% 8%;
    margin-left: 10%;
}

.nombres{
    grid-area: 1 / 1 / 1 / 4;
}

.apellidos{
    grid-area: 3 / 1 / 3 / 4;
}

.correo{
    grid-area: 5 / 1 / 5 / 3;
}

.contraseña{
    grid-area: 7 / 1 / 7 / 3;
}

.genero{
    grid-area: 9 / 1 / 9 / 3;
}

div{
    background-color: #fcd4d6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    font-size: 110%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10rem;
    font-weight: 600;
    flex-wrap: wrap;
}

.inputRegistro{
    border: 0rem;
    background-color: transparent;
    font-size: 78%;
    margin-left: 0.5%;
    margin-top: 0.2rem;
    height:  70%; 
}

.boton {
    background-color: transparent;
    border: 0rem;
    font-family: "Alice", serif;
    font-size: 150%;
    font-weight: 800;
    position: absolute;
    top: 87vh;
    left: 48%;
    transform: translate(-50%, -50%);
}
